* {
    box-sizing: border-box;
    font-family: "Abril Fatface", serif;
}

/* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */

body {
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; /* TODO find the issue that is causing the login page to overflow. This fixes the issue but is hacky.*/
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }