@media screen and (min-width: 424px) {
    .image-div {
        width: 300px;
        height: 300px;
    }

    .image-div::before {
        width: 424px;
        height: 424px;
        margin: -185px 0 0 -205px; /* Center the image: -212px 0 0 -212px; (Half of 424). */
    }

    .image-div::after {
        width: 100px;
        height: 100px;
        margin: -75px 0 0 -25px;
    }

    .left-button, .right-button {
        width: 150px;
        height: 202px;
    }

    .left-button-text, .right-button-text {
        font-size: 1.7rem;
    }

    .arrow-down {
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        border-top: 150px solid var(--base-color);
        margin: 0 0 0 -150px;
      }
}

@media screen and (min-width: 767px) {
    .hamburger-menu-btn {
        top: 20px;
        right: 20px;
    }

    .fly-to-user-button {
        top: 20px;
        right: 80px;
    }

    .left-button-text, .right-button-text {
        font-size: 1.8rem;
    }

    .sign-in-up-form {
        width: 50vw;
    }

    .col-one,
    .col-two {
        width: 45%;
    }

    .search-button:hover {
        transition-duration: 0.3s;
        cursor: pointer;
        background-color: var(--base-transparent-color)!important; /* Had to add important here, in order to override element.style.backgroundColor in map_event_model.js (fadeElement: function fadeElement(element)) */
    }

}

@media screen and (min-width: 1440px) {
    .image-div {
        width: 400px;
        height: 400px;
    }

    .image-div::before {
        width: 524px;
        height: 524px;
        margin: -221px 0 0 -262px; /* Center the image: -212px 0 0 -212px; (Half of 424). */
    }

    .image-div::after {
        width: 150px;
        height: 150px;
        margin: -125px 0 0 -25px;
    }

    .left-button, .right-button {
        width: 180px;
        height: 202px;
    }

    .left-button-text, .right-button-text {
        font-size: 2rem;
    }

    .arrow-down {
        border-left: 180px solid transparent;
        border-right: 180px solid transparent;
        border-top: 180px solid var(--base-color);
        margin: 0 0 0 -180px;
      }

    .sign-in-up-form {
        width: 50vw;
    }

    .form-heading {
        font-size: 3rem;
    }
}