.pin-and-buttons-wrapper {
    width: 80%;
    height: 100%;
    overflow: hidden;  /* Ensures the background image does not overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.image-div {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 1000px 1000px 1000px 0;
    transform: rotate(-45deg);
    animation: bobUpDown 10s infinite;
    z-index: 1;
}

.image-div::before {
    width: 424px;
    height: 424px;
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    background-image: url('../assets/images/playground-runestone.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotate(45deg);
    margin: -185px 0 0 -205px; /* Center the image: -212px 0 0 -212px; (Half of 424). */
}

@keyframes bobUpDown {
    0% {
        transform: translateY(0%) rotate(-45deg);
    }
    50% {
        transform: translateY(8%) rotate(-45deg);
    }
}

.image-div::after {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    border-radius: 100%;
    background-color: #ffffff;
    margin: -75px 0 0 -25px;

}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    bottom: 140px;
}

.left-button, .right-button {
    height: 202px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition-duration: 0.3s;
    white-space: nowrap;
}

.left-button:hover, .right-button:hover {
    filter: drop-shadow(1px 1px 10px #00000068);
    transition-duration: 0.3s;
    cursor: pointer;
}

.left-button {
    background-color: #ACD09E;

}

.left-button-text, .right-button-text {
    position: relative;
    top: 5%;
    font-size: xx-large;
    color: #333333;
}

.left-button-text {
    right: 50%;
}

.right-button-text {
    left: 50%;
}

.right-button {
    background-color: #F2EFE8;
}

