@keyframes bob-up-and-down {
    0% {
        transform: translateY(0%) rotate(-45deg);
    }
    50% {
        transform: translateY(8%) rotate(-45deg);
    }

    100% {
        transform: translateY(0%) rotate(-45deg);
    }
}

@keyframes animate-form-bg {
    from {
        height: 0vh;
        width: 0vw;
    }

    to {
        height: 100vh;
        width: 100vw;
    }
}

.pin-and-buttons-wrapper {
    width: 100%;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: -3rem;
    /* overflow: hidden;  Ensures the background image does not overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.image-div {
    width: 250px;
    height: 250px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1000px 1000px 1000px 0;
    transform: rotate(-45deg);
    animation: bob-up-and-down 10s infinite;
    z-index: 1;
    /* margin: 0 auto; */
}

.image-div::before {
    width: 374px;
    height: 374px;
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    background-image: url('../assets/images/playground-runestone.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotate(45deg);
    margin: -168px 0 0 -177px;
}

.image-div::after {
    width: 75px;
    height: 75px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    border-radius: 100%;
    background-color: var(--base-color);
    margin: -75px 0 0 0;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    bottom: 120px;
    max-width: 100%;
}

.left-button, .right-button {
    height: 180px;
    width: 125px;
    display: flex;
    align-items: flex-end;
    transition-duration: 0.3s;
    /* white-space: nowrap; */
    background-color: var(--base-color);
    text-align: center;
}

.left-button {
    justify-content: flex-start;
}

.right-button {
    justify-content: flex-end;
}

.left-button-text, .right-button-text {
    position: relative;
    top: 50%;
    font-size: 1.6rem;
    transition-duration: 0.3s;
    /* text-decoration: underline; */
}

.left-button-text {
    right: 30%;
    color: var(--color-alt-green);
}

.right-button-text {
    left: 30%;
    color: var(--color-alt-blue);
}

.arrow-down {
    width: 0; 
    height: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: -1;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-top: 125px solid var(--base-color);
    margin: 0 0 0 -125px;
    transition-duration: 0.3s;
  }

  .left-button:hover ~ .arrow-down, .right-button:hover ~ .arrow-down {
    filter: drop-shadow(1px 1px 10px #00000039);
    transition-duration: 0.3s;
    cursor: pointer;
    transform: translateY(15%);
}

.left-button:hover ~ .arrow-down {
    border-top-color: var(--color-alt-green);
}

.right-button:hover ~ .arrow-down {
    border-top-color: var(--color-alt-blue);
}

.left-button:hover > .left-button-text,
.right-button:hover > .right-button-text {
    color: var(--base-text-color);
}

.left-button:hover, .right-button:hover {
    transition-duration: 0.3s;
    cursor: pointer;
    filter: drop-shadow(1px 1px 10px #00000039);
}

.right-button:hover {
    background-color: var(--color-alt-blue);
}

.left-button:hover {
    background-color: var(--color-alt-green);
}

.sign-in-up-form-wrapper {
    max-width: 100%;
    margin: 16% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform-origin: bottom;
    transition-duration: 3s;
    overflow: hidden;
    font-size: x-large;
}

.fade-in {
    opacity: 0;
    transition-duration: 1s;
}

.animate-form-bg {
    animation: animate-form-bg 3s ease;
}

.form-bg {
    width: 100%;
    height: 100%;
    border: none;
}

.sign-in-up-form input {
    background-color: var(--white);
}

form {
    display: flex;
    flex-direction: column;
    transition-duration: 0.3s;
    width: 80vw;
}

form input {
    padding: 1rem;
    background-color: var(--base-color);
    margin: 0.25rem 0 1rem;
    font-family: "DM Serif Text", serif;
    font-size: large;
}

form input[type="submit"] {
    background-color: var(--base-color);
}
