.map {
    height: 100vh;
    width: 100%;
}

.pin {
    text-align: center;
}

.monument-icon {
    font-size: large;
}

.leaflet-marker-pane > img {
    filter: drop-shadow(1px 1px 3px #000000a5)
}

.leaflet-control-attribution a {
    font-size: x-small;
}

.leaflet-marker-icon div span {
    font-size: large;
    font-family: 'MedievalSharp';
    font-weight: bold;
}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
    background-color: var(--base-transparent-color);
}

.marker-cluster-small div {
    background-color: var(--base-color);
}

.marker-cluster-medium div {
    background-color: var(--color-alt-blue);
}

.marker-cluster-large div {
    background-color: var(--color-alt-green);
}