.map {
    height: 100vh;
    width: 100%;
}

.pin {
    text-align: center;
}

.fa-marker-icon {
    font-size: x-large;
}

.fa-location-icon {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
}

.fa-location-arrow {
    color: rgb(210, 146, 34);
    transform-origin: center;
}

.leaflet-marker-pane > img {
    filter: drop-shadow(1px 1px 3px #000000a5)
}

.leaflet-control-attribution a {
    font-size: x-small;
}

.leaflet-marker-icon div span {
    font-size: x-large;
    font-family: 'Abril Fatface';
    font-weight: bold;
}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
    background-color: var(--base-transparent-color);
}

.marker-cluster-small div {
    background-color: var(--base-color);
}

.marker-cluster-medium div {
    background-color: var(--color-alt-blue);
}

.marker-cluster-large div {
    background-color: var(--color-alt-green);
}