.map {
    height: 100vh;
    width: 100%;
}

.pin {
    text-align: center;
}

.fa-marker-icon {
    font-size: x-large;
}

.fa-geometry-collection-marker-icon i {
    font-size: x-large;
    color: var(--white);
}

.fa-location-icon {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
}

.fa-location-arrow,
.fa-circle-dot {
    color: var(--base-text-color);
    transform-origin: center;
}

.leaflet-marker-pane > img {
    filter: drop-shadow(1px 1px 3px #000000a5)
}

.leaflet-control-attribution a {
    font-size: x-small;
}

.leaflet-marker-icon div span {
    font-size: x-large;
    font-family: 'Abril Fatface';
    font-weight: bold;
}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
    background-color: var(--base-transparent-color);
}

.marker-cluster-small div {
    background-color: var(--base-color);
}

.marker-cluster-medium div {
    background-color: var(--color-alt-blue);
}

.marker-cluster-large div {
    background-color: var(--color-alt-green);
}

.popup-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-header h1 {
    text-align: center;
    padding: 0 10%;
    overflow-wrap: break-word;
    hyphens: auto; /* Automatically adds hyphens for long words */
    overflow: hidden;
}

.popup-header .fa-bookmark {
    font-size: 2.5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); /* Adjusts the icon vertically to center it */
    cursor: pointer;
}
