.nav-popup {
    height: 100vh;
    width: 100vw;
    background-color: #00000083;
    color: var(--base-color);
    z-index: 1000;
    position: fixed;
    opacity: 0;
    visibility: hidden;
}

.nav-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.nav-wrapper .nav-item {
    font-size: 3rem;
}

.nav-wrapper a {
    text-decoration: none;
    color: var(--base-color);
}